# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL="postgres://postgres:postgres@localhost:5432/postgres"

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
BETTER_AUTH_SECRET=6f0a6088de8f790d9f71a6ad13b653c8

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=